#define COMBO(name, keypress, keypos) \
combo_##name {                        \
  timeout-ms = <60>;                  \
  bindings = <keypress>;              \
  key-positions = <keypos>;           \
};

/ {
  combos {
    compatible = "zmk,combos";
    COMBO(ch_the, &ch_the, 13 17 26) // t+e+h -> the
    COMBO(ch_the_qui, &ch_the_qui, 4 9 20 25) // b+'+q+x -> the quick brown fox jumps over the lazy dog
    COMBO(ch_shawn, &ch_shawn, 0 12 16 19 26) // w+s+n+a+h -> shawn
    COMBO(ch_probabl, &ch_probabl, 1 2 3 4) // l+y+p+b -> probably
  };
};

#define MACRO(name, keys)             \
name: name##_macro {                  \
  label = #name;                      \
  compatible = "zmk,behavior-macro";  \
  #binding-cells = <0>;               \
  tap-ms = <1>;                       \
  wait-ms = <1>;                      \
  bindings = <keys>;                  \
};

/ {
  macros {
    MACRO(ch_the, &kp T &kp H &kp E &kp SPC) // t+e+h -> the 
    MACRO(ch_the_qui, &kp T &kp H &kp E &kp SPC &kp Q &kp U &kp I &kp C &kp K &kp SPC &kp B &kp R &kp O &kp W &kp N &kp SPC &kp F &kp O &kp X &kp SPC &kp J &kp U &kp M &kp P &kp S &kp SPC &kp O &kp V &kp E &kp R &kp SPC &kp T &kp H &kp E &kp SPC &kp L &kp A &kp Z &kp Y &kp SPC &kp D &kp O &kp G &kp SPC) // b+'+q+x -> the quick brown fox jumps over the lazy dog 
    MACRO(ch_shawn, &kp S &kp H &kp A &kp W &kp N &kp SPC) // w+s+n+a+h -> shawn 
    MACRO(ch_probabl, &kp P &kp R &kp O &kp B &kp A &kp B &kp L &kp Y &kp SPC) // l+y+p+b -> probably 
  };
};
