/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "chords.keymap"

// chord spc + bkspc to delete a word
/ {
  combos {
    compatible = "zmk,combos";
    combo_del_word {
      timeout-ms = <60>;
      bindings = <&del_word>;
      key-positions = <31 32>;
    };
  };
};

/ {
  macros {
        del_word: del_word {
            label = "del_word";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp BSPC>
                , <&macro_release &kp LALT>
                ;
        };
  };
};

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp W  &kp L  &kp Y  &kp P  &kp B    &kp Z  &kp F  &kp O    &kp U      &kp APOS
        &kp C  &kp R  &kp S  &kp T  &kp G    &kp M  &kp N  &kp E    &kp I      &kp A
        &kp Q  &kp J  &kp V  &kp D  &kp K    &kp X  &kp H  &kp DOT  &kp COMMA  &kp QMARK
                      &kp QMARK  &kp BSPC    &kp SPC  &kp QMARK
      >;
    };

    left_layer {
      bindings = <
        &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK    &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK
        &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK    &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK
        &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK    &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK
                                         &kp QMARK  &kp QMARK    &kp QMARK  &kp QMARK
      >;
    };

    right_layer {
      bindings = <
        &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK    &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK
        &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK    &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK
        &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK    &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK
                                         &kp QMARK  &kp QMARK    &kp QMARK  &kp QMARK
      >;
    };

    tri_layer {
      bindings = <
        &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK    &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK
        &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK    &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK
        &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK    &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK  &kp QMARK
                                         &kp QMARK  &kp QMARK    &kp QMARK  &kp QMARK
      >;
    };
  };
};
