body {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

hr {
  border-color: var(--sub-color);
  border-width: 0 0 0.5px 0;
}

.card {
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
}

.output-field {
  font-family: Menlo;
  font-size: 32px;
}
