body {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

.card {
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
}

.output-field {
  font-family: Menlo;
  font-size: 32px;
}
