:root {
  --desired-width: 442px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.live {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.live > .keymap {
  margin: 0;
}

.keymap {
  transition: opacity 250ms linear;
}

.keymap.isolated,
.keymap.disconnected {
  opacity: 0.5;
}
